.inner-content {
    display: flex;
    /* background-color: #fff; */
}

.inner-content .detail {
    border: 0.1px solid #ccc;
    width: 75%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    padding-top: 0;
    margin-top: 20px;
}
.inner-content .detail-top {
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 30px;
}
a:hover {
    text-decoration: none;
}
.inner-content .detail-top .detail-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-content .detail-content h3 {
    color: var(--color-header);
    font-size: 24px;
    margin-bottom: 20px;
}
.inner-content .detail-content .detail-author,
.inner-content .detail-content .detail-category,
.inner-content .detail-content .detail-view {
    font-size: 14px;
    margin-bottom: 20px;                                       
}
.inner-content .detail-content .detail-author {
    margin-bottom: 5px;
}

.inner-content .detail-content .detail-author a {
    color: var(--color-header);
}
.inner-content .detail-content button {
    color: #333;
    background: #edb50c;
    border: 1px solid #f0dea5;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    width: 60%;
}

.inner-content .detail-bottom {
    margin-top: 20px;
    width: 100%;
}

.inner-content .detail-bottom h3 {
    text-align: center;
    color: var(--color-header);
    margin-bottom: 10px;
}
.inner-content .list-type-novel {
    width: 25%;
}

.rate {
    display: flex;
    margin-top: 20px;
    color: var(--color-header);

}

.rate a {
    display: inline-block;
    padding: 0.35rem 1rem;
    text-align: center;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    border-radius: 8px;
    color: #1e77b3;
    margin-top: 8px;
    transition: all;
    margin-right: 20px;
}

.rate a:hover {
    background-color: var(--color-header);
    color: #fff;
}
.rate a i {
    margin-bottom: 5px;
}
.rate a:hover p,
.rate a:hover i {
    color: #fff;
}

.detail-bottom ul {
    display: flex;
}
.detail-bottom ul li {
    padding: 6px 12px;
    border-right: 0.1px solid #d9d9db;
    cursor: pointer;
}
.detail-bottom ul .need {
    background-color: #E3E3E3;
    
}

.detail-bottom ul .need:hover {
    background-color: #fff;
}


/* XỬ LÍ THẺ IFRAME  */

.iframe {
   overflow: hidden;
   height: 800px;
}
iframe {
    transform: scale(1.1);
    overflow: hidden;
}
/* DONE  */


/* XỬ LÍ DISPLAY NONE #LIST-CHAPTER */ 

#list-chapter {
    display: none;
    top: 50px;
    left: 0;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
}

#list-chapter li {
    list-style-type: none;
}

#list-chapter li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
}

#list-chapter li a:hover {
    background-color: #f0f0f0;
}

#list-chapter li {
    padding: 2px !important;
}

/* RESPONSIVE  */

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .bar-menu {
        margin-left: 15px;
    }
    .inner-content {
        flex-wrap: wrap;
    }
    .inner-content .detail {
        order: 2;
        width: 110%;
    }
    .inner-content .list-type-novel {
        order: 1;
        width: 100%;
        /* margin-left: -15px; */
        margin-right: 0;
        padding-right: -115px;
    }
    .inner-content .detail {
        padding: 0 15px;
        margin-top: 0;
    }
    .detail-top img {
        width: 100px;
        height: 160px;
    }
    .logo img {
        width: 100px;
        height: auto;
    }
    .inner-content .detail-content h3 {
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .inner-content .detail-content button {
        padding: 10px;
        font-size: 14px;
        display: inline-block;
    }
    .rate a {
        font-size: 10px;
        margin-right: 10px;
        padding: 0.2rem 0.8rem;
    }
    .detail-bottom ul li a{
        font-size: 12px;
    }
    


}





/* RESPONSIVE  */